<table *ngIf="dataLoaded==true" class="table table-success table-responsive-md table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Car Name</th>
        <th>Brand Name</th>
        <th>Color Name</th>
        <th>Model Year</th>
        <th>Daily Price</th>
        <th>Description</th>
        <th></th>
        
      </tr>
    </thead>
    <tbody>
    <tr >
      <td><img *ngFor="let image of images" src="https://localhost:44379/{{image.imagePath}}" style="width: 300px;"></td>
      <td>{{ carDetails?.carName }}</td>
      <td>{{ carDetails?.brandName }}</td>
      <td>{{ carDetails?.colorName }}</td> 
      <td>{{ carDetails?.modelYear }}</td>
      <td>{{ carDetails?.dailyPrice }}</td>
      <td>{{ carDetails?.description }}</td>
      <td><button (click)="addToCart(carDetails)" type="button" class="btn btn-outline-dark ">{{carDetails?.dailyPrice}}$  KİRALA</button></td>
      
      

    </tr>
  </tbody>
  </table>