<div class="col-md-12">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div
        *ngFor="let image of images;"
        
      >
        <img
          src="https://localhost:44378\{{ image.carId }}"
          class="d-block img-fluid img-thumbnail w-100"
        />
      </div>
    </div>
<div class="card-body">
  <table class="table table-striped">
    <tbody>
      <tr>
        <th scope="row">Araba Adı:</th>
        <td>{{ carDetails?.carName }}</td>
      </tr>
      <tr>
        <th scope="row">Markası:</th>
        
      </tr>
      <tr>
        <th scope="row">Modeli:</th>
        <td>{{ carDetails?.modelYear }}</td>
      </tr>
      <tr>
        <th scope="row">Rengi:</th>
        <td>{{ carDetails?.colorName }}</td>
      </tr>

      <tr>
        <th scope="row">Açıklama:</th>
        <td>{{ carDetails?.description }}</td>
      </tr>
      <tr>
        <th scope="row">Günlük Ücret:</th>
        <td>{{ carDetails?.dailyPrice | currency: "₺" }}</td>
      </tr>
    </tbody>
  </table>
  <div>