<div *ngIf="dataLoaded==false" class="d-flex align-items-center">
    <strong>Bir Saniye Lütfen...</strong>
    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
  </div>
  
  
  <table *ngIf="dataLoaded==true" class="table table-success table-responsive-md table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Car Id</th>
          <th>Car Name</th>
          <th>CustomerId </th>
          <th>ReturnDate</th>
          <th>RentDate</th>
          <th>CompanyName</th>
          <th>FirstName</th>
          <th>LastName</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rental of rentals">
        <td>{{ rental.carId }}</td>
        <td>{{ rental.carName }}</td>
        <td>{{ rental.customerId }}</td>
        <td>{{ rental.returnDate }}</td> 
        <td>{{ rental.rentDate }}</td>
        <td>{{ rental.CompanyName }}</td>
        <td>{{ rental.firstName }}</td>
        <td>{{ rental.lastName }}</td>
      </tr>
    </tbody>
    </table>
