<li *ngIf="cartItems" class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle-warning text-warning"
    id="navbarDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    SEPETİNİZ
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">Sepetiniz:
    <li *ngFor="let cartItem of cartItems">
      <div class="alert alert-warning " role="alert"><a class="dropdown-item"
        ><span >{{
          cartItem.car.carName
        }}</span
        ><br />
        <span class="badge bg-warning text-dark">Adet: {{ cartItem.quantity }}</span>
        <button type=""
          (click)="removeFromCart(cartItem.car)"
          class="badge bg-danger text-dark"
        >
          Sepetten sil
        </button></a
      ></div>
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item">Sepete git</a></li>
  </ul>
</li>
 