<div class="carpage">
<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-3">
      <app-brand></app-brand>
      <app-color></app-color>
    </div>
    <div class="col-md-9">
      <div *ngIf="dataLoaded == false" class="d-flex align-items-center">
        <h2>Bir Saniye Lütfen...</h2>
        <div
          class="spinner-border ms-auto"
          role="status"
          aria-hidden="true"
        ></div>
      </div>
      <br />

      <div *ngIf="dataLoaded == true" class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>  ARAÇ ARAMA:</label
        >
        <input
          type="text"
          [(ngModel)]="filterText"
          class="form-control"
          id="filterText"
          placeholder="BMW M3..."
        />
      </div>
      <div
        *ngIf="filterText?.length > 2"
        class="alert alert-warning"
        role="alert"
      >
        <strong>{{ filterText }} </strong> aradınız
      </div>

      <div *ngIf="dataLoaded == true" class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let car of cars | filterPipe: filterText" class="col">
          <div class="card h-100">
            <div  style="height: 50%">
              <img [src]="getImagePath(car.imagePath)" class="card-img-top" />
            </div>
            <div class="card-body">
              <h2>
                <span>{{ car.carName }}</span>
              </h2>
              <h5>FİYAT : {{ car.dailyPrice | vatAdded: 10 | currency }} /gün</h5>
              <div class="h-500 bg-light">
                <button
                  (click)="setCurrentCar(car)"
                  routerLink="cardetail/{{ car.carId }}"
                  type="button"
                  class="getCarDetailsByCarId(car.carId)"
                  style="float: right"
                >
                  Detayları Gör
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>