<div *ngIf="dataLoaded==false" class="d-flex align-items-center">
  <strong>Bir Saniye Lütfen...</strong>
  <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
</div>
<br>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">ARAÇ ARAMA:</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="BMW M3...">
</div>

<div *ngIf="filterText?.length>2" class="alert alert-warning  " role="alert">
  <strong>{{filterText}} </strong> aradınız
</div>


<table *ngIf="dataLoaded==true" class="table table-success table-responsive-md table-striped table-hover table-bordered">
    <thead>
      <tr>
        
        <th>Car Name</th>
        <th>Brand Name</th>
        <th>Daily Price</th>
        <th>vat Added Price</th>
        <th>car Id</th>
        <th> </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let car of cars | filterPipe:filterText">
      
      <td>{{ car.carName }}</td>
      <td>{{ car.brandName | uppercase }}</td>
      <td>{{ car.dailyPrice |currency }}$</td> 
      <td>{{ car.dailyPrice | vatAdded:10 |currency}}$</td> 
      <td>{{ car.carId }}</td>
      

      <td><button class="btn btn-success btn-sm" routerLink= "/cars/cardetail/{{car.carId }}" >DETAYLARI GÖR</button></td>

    </tr>
  </tbody>
  </table>

