<section class="h-100 h-custom" style="background-color: #d2c9ff">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div
          class="card card-registration card-registration-2"
          style="border-radius: 15px"
        >
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div
                    class="d-flex justify-content-between align-items-center mb-5"
                  >
                    <h1 class="fw-bold mb-0 text-black">Kiralanacak Araba</h1>
                  </div>
                  <hr class="my-4" />

                  <div
                    class="row mb-4 d-flex justify-content-between align-items-center"
                  >
                    <div
                      *ngFor="let image of images"
                      class="col-md-4 col-lg-2 col-xl-2"
                    >
                      <img
                        width="800 px"
                        height="500 px"
                        src="https://localhost:44379\{{ image.imagePath }}"
                        class="d-block img-fluid img-thumbnail"
                      />
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{ carDetails?.carName }}</h6>
                      <h6 class="text-black mb-0">
                        {{ carDetails?.brandName }}
                      </h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button
                        class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                      >
                        <i class="fas fa-minus"></i>
                      </button>

                      <h6>{{ carDetails?.modelYear }}</h6>

                      <button
                        class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                      >
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">
                        {{ carDetails?.dailyPrice | currency: "₺" }}
                      </h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="#!" class="text-muted"
                        ><i class="fas fa-times"></i
                      ></a>
                    </div>
                  </div>

                  <hr class="my-4" />
                </div>
                <div class="d-flex justify-content-center col-sm-8 col-md-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="row">
                        <div class="col-md-6">
                          <span>CREDIT/DEBIT CARD PAYMENT</span>
                        </div>

                        <div
                          class="col-md-6 text-right"
                          style="margin-top: -5px"
                        >
                          <img
                            src="https://img.icons8.com/color/36/000000/visa.png"
                          />
                          <img
                            src="https://img.icons8.com/color/36/000000/mastercard.png"
                          />
                          <img
                            src="https://img.icons8.com/color/36/000000/amex.png"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="card-body" style="height: 280px">
                      <div class="form-group">
                        <label for="cc-number" class="control-label"
                          >CARD NUMBER</label
                        >
                        <input
                          id="cc-number"
                          type="tel"
                          class="input-lg form-control cc-number"
                          autocomplete="cc-number"
                          placeholder="&bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull;"
                          required
                        />
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="cc-exp" class="control-label"
                              >CARD EXPIRY</label
                            >
                            <input
                              id="cc-exp"
                              type="tel"
                              class="input-lg form-control cc-exp"
                              autocomplete="cc-exp"
                              placeholder="&bull;&bull; / &bull;&bull;"
                              required
                            />
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="cc-cvc" class="control-label"
                              >CARD CVC</label
                            >
                            <input
                              id="cc-cvc"
                              type="tel"
                              class="input-lg form-control cc-cvc"
                              autocomplete="off"
                              placeholder="&bull;&bull;&bull;&bull;"
                              required
                            />
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="numeric" class="control-label"
                          >CARD HOLDER NAME</label
                        >
                        <input type="text" class="input-lg form-control" />
                      </div>

                      <div class="form-group">
                        <input
                          value="MAKE PAYMENT"
                          type="button"
                          class="btn btn-success btn-lg form-control"
                          style="font-size: 0.8rem"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pt-5">
                  <h6 class="mb-2">
                    <a href="/cars" class="text-body"
                      ><i class="fas fa-long-arrow-alt-left me-2"></i>Back to
                      shop</a
                    >
                  </h6>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-4">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <app-datepicker></app-datepicker>

                  <hr class="my-3" />
                  <h1 class="text-uppercase mb-3">kod kullan</h1>

                  <div class="mb-3">
                    <div class="form-outline">
                      <input
                        type="text"
                        id="form3Examplea2"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label" for="form3Examplea2"
                        >Enter your code</label
                      >
                    </div>
                  </div>

                  <hr class="my-1" />

                  <div>
                    <h2 class="text-uppercase">
                      fiyat : {{ carDetails?.dailyPrice | currency: "₺" }}
                    </h2>
                    <h2 class="text-uppercase"> KDV :  ₺245  </h2>
                    <hr class="my-3" />
                    <h2 class=""> TOPLAM :{{ carDetails?.dailyPrice +245 | currency: "₺"}} </h2>
                  </div>

                  <button
                    type="button"
                    class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark"
                  >
                    Satın al
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
