<app-navi></app-navi>
<div class="content">
  <div class="col-md-4" style="margin: auto">
    <div class="card">
      <div class="card-header"><h5 class="title">Araba Ekle</h5></div>
      <div class="card-body">
        <form [formGroup]="carAddForm">
          <div class="mb-3">
            <label for="carName">Araba adı</label>
            <div class="form-group">
              <input
                type="text"
                id="carName"
                formControlName="carName"
                class="form-control"
                placeholder="Ürün adı"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="brandId">Marka Id</label>
            <div class="form-group">
              <input
                type="number"
                id="brandId"
                formControlName="brandId"
                class="form-control"
                placeholder="Marka ıd"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="colorId">Renk id</label>
            <div class="form-group">
              <input
                type="number"
                id="colorId"
                formControlName="colorId"
                class="form-control"
                placeholder="Rengi"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="modelYear">modelYear</label>
            <div class="form-group">
              <input
                type="number"
                id="modelYear"
                formControlName="modelYear"
                class="form-control"
                placeholder="2022"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="dailyPrice">Fiyatı</label>
            <div class="form-group">
              <input
                type="number"
                id="dailyPrice"
                formControlName="dailyPrice"
                class="form-control"
                placeholder="Kira ücreti"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="description">açıklama</label>
            <div class="form-group">
              <input
                type="text"
                id="description"
                formControlName="description"
                class="form-control"
                placeholder="manuel"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-success" (click)="add()">
          Ekle
        </button>
      </div>
    </div>
  </div>
</div>


